// main: style.scss

div.bannerHome div.carousel-item img
{
    height: 100%;
}

div.banner-logo
{
    background-color: rgba(247,202,52,.7);
    padding: 40px;

    -webkit-border-radius: 20px;
    border-radius: 20px;
}