// main: style.scss

body
{
    font-family: HelveticaNeue;
    font-size: 1.6em;

    position: relative;
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    
    /*text-align: justify;*/
}

h1:after
{
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 10px;
    border-bottom: 5px solid $primary;
}

h1.border-secondary:after
{
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 10px;
    border-bottom: 5px solid $secondary;
}

h1.no-border:after
{
    border-bottom: none !important;
}

strong
{
    font-weight: bold;
}

.margin-bottom 
{
    margin-bottom: 20px;
}

.margin-bottom-p
{
    margin-bottom: 10px;
}

.margin-bottom-g
{
    margin-bottom: 40px;
}

.margin-top 
{
    margin-top: 20px;
}

.margin-top-p
{
    margin-top: 10px;
}

.margin-top-g
{
    margin-top: 40px;
}

.padding-bottom 
{
    padding-bottom: 20px;
}

.padding-bottom-p
{
    padding-bottom: 10px;
}

.padding-bottom-g
{
    padding-bottom: 40px;
}

.padding-top 
{
    padding-top: 20px;
}

.padding-top-p
{
    padding-top: 10px;
}

.padding-top-g
{
    padding-top: 40px;
}

a.link
{
    text-decoration: underline;
    color:black;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:   -moz-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:   -ms-linear-gradient(left,       rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:   -o-linear-gradient(left,        rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

nav
{
    background-color: $primary;
    height: 100px;
    z-index: 10;
}

nav a.brand-logo img
{
    position: relative;
    height: 120px;
}

nav ul li a
{
    font-size: .8em;
    padding: 18px;
}

nav ul.menuDesktop li a.active {
    color: $secondary;
    text-decoration: underline;
    font-weight: bold;
}

nav div.menu
{
    padding-top: 15px;
    padding-right: 20px;
}

nav i.medium
{
    font-size: 3em !important;
}

nav ul.menuResponsive
{
    background-color: $primary;
    color:white;
    z-index: 999999 !important;
}
nav ul.menuResponsive li
{
    float: none;
    display: block;
    text-align: center;
    padding: 0px !important;
    border-top: 1px solid white;
}
nav ul.menuResponsive li a
{
    padding: 0px !important;
}
nav ul.menuResponsive li a.active
{
    color:white !important;
    text-decoration: none !important;
    font-weight: normal;
}

main
{
    padding: 0px;
    z-index: 1;
}

div.pageIntern
{
    margin-top: 100px !important;
}

footer
{
    border-top: solid 5px $primary;
}

footer div
{
    padding: 40px;
}

footer div.socialMedias
{
    padding: 0px;
}

footer div.socialMedias img
{
    height: 55px;
    width: auto;
    margin-right: 5px;
}

footer i.fa-stack-2x
{
    color: white;
}
footer i.fa-stack-1x
{
    color: $primary;
}

footer div.copyright
{
    padding: 0px;
    margin:0px;
    font-size: .6em;
}