// main: style.scss


div.containerBlog
{
    position:relative; 
    width: 100%; 
    min-height: 633px; 
    overflow: hidden;

    background-image: url('../../../img/template/poster-movie-city.png');
}

div.containerBlog video
{
    position: fixed;
    top: 0%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) 
}
div.containerBlog div.container
{
    position: relative;
    z-index: 50;
    padding: 50px 10px 0px 10px;
}

div.containerBlack
{
    background-color: rgba(0,0,0,.7);
    padding: 40px 30px;
}

div.blogItem
{
    margin: 20px 10px;
}


div.blogItem div.blogItemContent
{
    background-color:white;
    padding: 20px;  
}

div.blogItem div.blogItemContent h1
{
    font-size: 1.3em;
    margin-bottom:0px;
    color: #777777;
    font-weight: normal;
}

div.blogItem div.blogItemContent h2
{
    font-size: .95em;
    margin-top: 0px;
}

div.blogItem img.blogContentImgCenter
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

a.btnLeia
{
    background-color:#222222;
    color: white;
    padding: 10px 30px;
}

a.btnLeia:hover
{
    background-color:#222222;
    color: white;
    padding: 10px 30px;
}

ul.pagination li a,
ul.pagination li.disabled span
{
    background-color: #b7b7b7 !important;
    color: #222222 !important; 
}

ul.pagination li a:hover,
ul.pagination li.active:hover span,
{
    background-color: #707070 !important;
    color: #222222 !important; 
    border-color: #707070 !important;
}

ul.pagination li.active span,
{
    background-color: #222222 !important;
    color: #b7b7b7 !important; 
    border-color: #707070 !important;
}

/*
 * post
 */
div.postContent
{
    background-color:white;
    padding: 20px 40px;  
    margin: 20px;
    color: black;
}

div.postContent h1
{
    font-size: 2em;
    margin-bottom:0px;
    font-weight: normal;
    color: black;
}

div.postContent h2
{
    font-size: .95em;
    margin-top: 0px;    
    color: black;
}

div.postContent img
{
    max-width: 100%;
    height: auto;
}

div.verticalAlignTop
{
    vertical-align: bottom;
}

div.like a
{
    color: #F25050;
}