.upload-image
{
    height: 130px;
}

div.imgUpload
{
    height: 235px;
}

div.upload-image img
{
    position: relative;
    height: 100px !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}